/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */


/* we can have rules apply to multiple elements at the same time with commas */

.body {
  background-color: black;
  margin: 0px;
  height: 100%;

}

.line {
  /* literally a line */
  border: 1px solid #fff;
  width: 100%;
  height: 0;
}

.navBar {
  /* dimensions */
  width: 90%;
  height: 13.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1.5%;

  /* display */
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}


.bento {
  /* dimensions */
  width: 100%;

  /* deco */
  border: 1px solid #fff;
  background-color: black;

  /* display */
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;

}

.bentoInfo {
  /* dimensions */
  width: 90%;
  height: 95%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

a {
  color:  #fff;

  transition: color 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

a:hover {
  color: rgb(255, 255, 45);
}

li::marker {
  color: white;
}

p {
  font-size: 16px;
  line-height: 22px;
  font-family: "Geliat extralight";
  color: #fff;

}

.webHeader {
  font-size: 4vh;
  line-height: 8vh;
  font-family: Palmtick;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;

}

/* LAB CSS */

.lab-section {
  /* dimensions */
  width: 100vw;
  height:100vh;
  overflow: hidden;
}

.homeButton {
  font-size: 2vh;
  line-height: 0vh;
  font-family: geliat-extralight;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;

  position: absolute;
  left: auto;
  right: 5%;

  /* interaction */
  transition: color 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}


.homeButton:hover {
  color: rgb(49, 49, 255);
}

.response-columns {
  /* dimensions */
  width: 90%;
  height: 80%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;

  /* display */
  flex-flow: row;
  display: flex;

}

.column {
  width: 18%;
  height: 100%;

  padding-left: 3.5%;
  padding-right: 3.5%;

  background-color: #fff;
  border: 1px solid black;

  display: flex;
  flex-flow: column;
  align-items: center;

  filter: invert(100%) brightness(200%) saturate(0%);

  transition: filter 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);


}

.column:hover {
  filter: invert(0%) ;
}

.text-column-header {
  font-size: 3vh;
  line-height: 9vh;
  font-family: Palmtick;
  letter-spacing: 2px;

  text-align: center;
}

.tch1 {
  color: red;

}

.tch2 {
  color: rgb(49, 49, 255);

}

.tch3 {
  color: blueviolet;


}

.labOutputText {
  font-family: geliat-extrabold;
}

