/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */


/* we can have rules apply to multiple elements at the same time with commas */

.body {
  background-color: black;
  margin: 0px;
  height: 100%;

}

.line {
  /* literally a line */
  border: 1px solid #fff;
  width: 100%;
  height: 0;
}

.navBar {
  /* dimensions */
  width: 90%;
  height: 13.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1.5%;

  /* display */
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}


.bento {
  /* dimensions */
  width: 100%;

  /* deco */
  border: 1px solid #fff;
  background-color: black;

  /* display */
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;

}

.bentoInfo {
  /* dimensions */
  width: 90%;
  height: 95%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

a {
  color:  #fff;

  transition: color 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

a:hover {
  color: rgb(255, 255, 45);
}

li::marker {
  color: white;
}

p {
  font-size: 16px;
  line-height: 22px;
  font-family: "Geliat extralight";
  color: #fff;

}

.webHeader {
  font-size: 4vh;
  line-height: 8vh;
  font-family: Palmtick;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;

}