/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */



p {
  color: black;
}

.minor-text{
  font-size: 11px;
  line-height: 15px;
  margin-bottom: 10%;
}

/* button styler */
#make-convo {
  width: 100%;

  background-color: black;
  color: white;
  padding: 10px 20px;
  text-align: center !important;
  text-decoration: none;
  margin-top: 5%;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}


/* shifts message to the right */
.shift {
  align-self: flex-end;

}

/* Makes left messsages grey color bubble */
.leftMsg{
  background-color: rgb(69, 69, 69);


}

/* Makes right messsages blue color bubble */
.rightMsg {
  background-color: rgb(50, 156, 255);


}

/* Styler for message text and bubble */
.message{
  font-size: 10px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  color: white;
  border-radius: 10px;
  padding:  3px 15px;
  margin-bottom: 10%;
  width: fit-content;
}

/* Allows div to have shift in children */
#text {
  flex-flow: column;
  display: flex;
}

#output {
  width: 100%;
}

.hide {
  display: none;
}