/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
h1,h2,h3 {
  font-family: palmtick;
  font-size: 3vw;
  letter-spacing: .05vw;
  line-height: 2vw;

  color: white;
}

h2{
  font-size: 4vh;
  height: 0vh;
}

a{
  color: blueviolet;
}
/* and we can have rules that overlap other rules, both take effect */

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  background-color: black;
  width: 100vw;
  height:100vh;
}

p{
  color: white;
  font-family: geliat-extralight;
  font-size: 1.25vw;
}

li{
  color: white;
  font-family: geliat-extralight;
  font-size: 2vh;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  font-family: Geliat-ExtraLight;
  color: white;
  background-color: black;

}
body {
  background-color: black;
  /* overflow:hidden; */
}

.last-section{
  padding-bottom: 10vh !important; 
}

#content {
  background-color: black;
  width: 90vw;
  padding: 0 5vw;
}

h1{
  line-height: 10vw;
}
h2{
  padding: 20px 0;
}

.minor-section {
  border: 2px solid white;
  padding: 0 1vw;
  margin-bottom: 5vh;

}

body {
  background-color: black;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

.photo {
  max-width: 100%;
  filter: saturate(0%);
}

.caption{
  margin-bottom: 10vh;
}